@charset 'utf-8';
//
// ***********************************************
// ★ サイトフッター セクション
// ***********************************************
footer {
  text-align: center;

  // border: 2px dashed lime;

  // 
  // 縦横中心表示
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #f6f6f6;
  font-size: 1.8vh;         // default : only H1 using.

  .siteFooter {
    display: flex;
    @include mquery( "mb" ) { flex-direction: column; }
    @include mquery( "pc" ) { flex-direction: row;    }
    // align-items: center;
    justify-content: center;

    width: 90%;

    // margin-bottom: 50px;
    // border: 5px dashed blue;

    .cmpyInfo {
      flex-direction: column;
      text-align: center;

      @include mquery( "mb" ) {
        // margin: 80px 5vw 30px 5vw;
        margin: 0 auto;
        margin-top: 50px;           // ***** 20220319 80px
        margin-bottom: 0px;        // ***** 20220319 30px
        width: 90vw;
      }
      @include mquery( "pc" ) {
        // margin: 80px 0 0 0;
        margin: 30px 0 0 0;
        padding: 0 0;
        // width: 30%;   *********************
      }

      // border: 1px solid gray;       // 1
      // border-radius: 5px;

      // 
      // ■ フッター部 左側ペイン内ロゴマークサイズ指定
      // ☛ カスタマイザー【外観】☛【カスタマイズ】☛【サイト基本情報】☛【ロゴ】指定の画像
      // ☛ 画像表示サイズを指定する
      // 
      // .footerLogo img, .footerLogoNL img {
      .footerLogo img {
        // @include mquery( "mb" ) { margin:   0 30px; width: 10vh; };   // ***** 20220319 15vh
        // @include mquery( "pc" ) { margin: 20px 5vw; width: 15vw; };    // 20px 5vw 6vw
        @include mquery( "mb" ) { margin:   0 30px; width: 40%; max-width: 250px; };   // ***** 20220319 15vh
        @include mquery( "pc" ) { margin: 20px 5vw; width: 250px; height: 72px; };    // 20px 5vw 6vw
      }
      .footerLogo:hover {
        transition: transform 0.5s;
        transform: scale(1.05);
      }
      h2 {
                                   font-size: 1.5em !important;   // 3vh;
        @include mquery( "mb" )  { font-size: 1.2em !important;
                                   margin: 20px auto;
                                   margin-bottom: 30px; }      // 2vh ***** 20220319
        font-weight: bold;
        line-height: 1em;       // 2em;
        color: #647C92;
      }
      .waPlusAddr {
        @include mquery( "mb" ) { width: 60%;
                                  margin: 0 auto;
                                  margin-top: 20px; }  // 5vw 0 5vw; }
        // @include mquery( "pc" ) { margin: 20px 100px; }
        @include mquery( "pc" ) { width: 60%; margin: 20px auto; }
        padding: 20px 20px;
        border: 1px solid gray;
        border-radius: 5px;
        font-size: 1.5vh;
        font-weight: bold;
        line-height: 1.5em;
      }
    }

    #footerNav {
      text-align: left;
      font-size: 0.9em;         // 2vh; Menu's size
      font-weight: bold;        // normal;
      line-height: 1em;        // 2em;

      margin-bottom: 0;         // ***** 20220319 移動
      padding: 40px 20px;

      // サブメニュー該当文字列設定
      .subMenuDispPos {
        font-size: 0.8em;         // 2vh; Menu's size
      }

      @include mquery( "mb" ) {
        margin: 10px auto;
        margin-top: 20px;

        padding: 10px;    // ***** 20220319
      }
      @include mquery( "pc" ) {
        margin: 80px 10px 20px 20px;
        margin: 80px 20px 20px 30px;

        // border: 2px dashed lime;
      }

      // background-color: rgba( 100, 124, 126, 0.2 );
      // border: 1px solid gray;       // 2
      // border-radius: 5px;
    }

    @mixin style-brandLink {
      // background-color:rgba(255,255,255,0.3);
      // background-blend-mode:lighten;
      background-size: cover;
      background-position: center;
      border-radius: 15px;

      @include mquery( "mb" ) {
        margin: 0 auto;
        // margin-bottom: 50px;
        width: 15vw; // 25vw 35vw 100px;
        height:15vw; // 25vw 35vw 100px;  
        min-width: 35px; // 5vw 9vw 200px;
        min-height:35px; // 5vw 9vw 200px;  
        max-width: 60px; // 5vw 9vw 200px;
        max-height:60px; // 5vw 9vw 200px;  
      }
      @include mquery( "pc" ) {
        // margin-top: 20px !important;
        width: 5vw; // 5vw 9vw 200px;
        height:5vw; // 5vw 9vw 200px;  
        min-width: 70px; // 5vw 9vw 200px;
        min-height:70px; // 5vw 9vw 200px;  
        max-width: 100px; // 5vw 9vw 200px;
        max-height:100px; // 5vw 9vw 200px;  
      }
    }
    .brandLink {
      display: flex;
      // align-items: center;
      justify-content: center;
      @include mquery( "mb" ) {
        height:15vw; // 25vw 35vw 100px;  
        margin-top: 20px !important;
        margin-bottom: 40px;           // ***** 20220319 100px
      }
      @include mquery( "pc" ) {
        height:5vw; // 9vw 200px;  
        margin-top: 120px !important;
        margin-bottom: 40px;
        // width: 30%;   *********************

        // border: 2px dashed red;
      }

      // border: 1px solid lime;

      .inekkaLink, .inekkaLinkNL {
        @include style-brandLink;
        // margin-bottom: 20px;         // ***** 20220319
        background-image: url( "./../../Images/i-nekka/i-nekka_Edwardian_1024.jpg" );
      }
      .inekkaLink:hover {
        transition: transform 0.5s;
        transform: scale(1.05);
      }
      .ACestusLink, .ACestusLinkNL {
        @include style-brandLink;
        margin-left: 30px !important;
        background-image: url( "./../../Images/ACestus/AC_LOGO.png" );
        background-size: contain;
        background-repeat: no-repeat;
      }
      .ACestusLink:hover {
        transition: transform 0.5s;
        transform: scale(1.05);
      }
    
    }

    .digiCertImg {
      @include mquery( "mb" ) {
        margin-top: 30px;
        width: 30%;
      }
    }
    
  }
  .w3cValidation {
    margin: 30px 0;
  }
  .rightsNote {
    padding: 0 0 30px 0;
    font-size: 0.8em;         // 2vh; Menu's size
  }
}

/* 
 * 「フッター」ナビゲーションメニューに於ける、フォーカスONの下線表示
 // ***********************************************
 // ***********************************************
 */
 footer {
  @include style-navUnderLine( "#footerNav" );
}
